.sapSuiteRMCOutsideLabel.sapSuiteRMCFont.sapSuiteRMCTextColorError {
  visibility: hidden;
}
.row--iconactive {
  background-color: rgba(16, 126, 62, 0.15);
}

/* .fullScreenDialog {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
} */
